body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("./assets/web-app-background-image-2.webp"); /*Path to the image*/
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}
